{%- include top.html -%}
<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.css" />
<body class="wrap">

  {%- include header.html -%}



  {{- content -}}


  {%- include footer.html -%}
  {%- include analytics.html -%}
  {%- include search/script.html -%}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">
  <link href="/css/tooltip.css" rel="stylesheet"/>
  <script src="/js/copy.js"></script>

	<script src="https://cdn.jsdelivr.net/npm/cookieconsent@3/build/cookieconsent.min.js" data-cfasync="false"></script>
<script>
window.cookieconsent.initialise({
  "palette": {
    "popup": {
      "background": "#171717",
      "text": "#20fc03"
    },
    "button": {
      "background": "transparent",
      "text": "#20fc03",
      "border": "#20fc03"
    }
  },
  "content": {
    "message": "This website contains cookies, do not eat them!"
  }
});
</script>
</body>
</html>
