{%- include top.html -%}

<body class="wrap">

  {%- include header.html -%}



  {{- content -}}


  {%- include footer.html -%}
  {%- include analytics.html -%}
  {%- include search/script.html -%}

	<script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.10/clipboard.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <script src="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="/css/style.css">
  <link href="/css/tooltip.css" rel="stylesheet"/>
  <script src="/js/copy.js"></script>

</body>
</html>
